<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shope Share</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/css/Pricing-Grid.css">
    <link rel="stylesheet" href="/css/Responsive-Full-Width-Grid-from-codedrops.css">
    <link rel="stylesheet" href="/css/Shopping-Grid.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/Button-Icon-Counter.css">
    <link rel="stylesheet" href="/css/Community-ChatComments.css">
    <link rel="stylesheet" href="/css/Grid-and-List-view-V10-1.css">
    <link rel="stylesheet" href="/css/Grid-and-List-view-V10.css">
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Chia sẻ đồ dùng</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="/about.html">Thông tin</a></li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Danh mục sản phẩm</a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="#"> Danh mục 1 </a></li>
                            <li> <a class="dropdown-item" href="#"> Danh mục 2 &raquo; </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Danh mục con 1</a></li>
                                    <li><a class="dropdown-item" href="#">Danh mục con 2</a></li>
                                    <li><a class="dropdown-item" href="#">Danh mục con 3 &raquo; </a>
                                        <ul class="submenu dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Sản phẩm 1</a></li>
                                            <li><a class="dropdown-item" href="#">Sản phẩm 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Danh mục con 4</a></li>
                                    <li><a class="dropdown-item" href="#">Danh mục con 5</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#"> Danh mục 3 </a></li>
                            <li><a class="dropdown-item" href="#"> Danh mục 4 </a></li>
                        </ul>
                    </li>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Giỏ hàng
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi bi-person-circle"></i>
                        Xin chào
                        <span class="badge bg-dark text-white ms-1 rounded-pill">Tên</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Section-->
    <div class="container" style="width: 1200px;height: auto;">
        <div class="row">
            <div class="col-xxl-5" style="width: 400px;height: 400px;">
                <div class="simple-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper" style="width: 380px;height: 400px;">
                            <div class="swiper-slide"
                                style="background: url(&quot;https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/160615085_1384055441927376_4357367897961309730_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=s6tbWhJcBYoAX9Y1lW_&_nc_ht=scontent.fdad3-4.fna&oh=00_AT82tjdqozw8dNCUVUqz0fMBTYkWdchSqAu7DgQZhPxUvA&oe=61FDC2A2&quot;) center center / cover no-repeat;width: 400px;height: 400px;">
                            </div>
                            <div class="swiper-slide"
                                style="background: url(&quot;https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/160615085_1384055441927376_4357367897961309730_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=s6tbWhJcBYoAX9Y1lW_&_nc_ht=scontent.fdad3-4.fna&oh=00_AT82tjdqozw8dNCUVUqz0fMBTYkWdchSqAu7DgQZhPxUvA&oe=61FDC2A2&quot;) center center / cover no-repeat;">
                            </div>
                            <div class="swiper-slide"
                                style="background: url(&quot;https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/160615085_1384055441927376_4357367897961309730_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=s6tbWhJcBYoAX9Y1lW_&_nc_ht=scontent.fdad3-4.fna&oh=00_AT82tjdqozw8dNCUVUqz0fMBTYkWdchSqAu7DgQZhPxUvA&oe=61FDC2A2&quot;) center center / cover no-repeat;">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 700px;">
                <div class="row">
                    <div class="col" style="width: 700px;">
                        <h2 style="margin-top: 20px;margin-bottom: 20px;">ai phôn 13 bờ dồ mắc 2tb giá rẻ&nbsp;</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><span
                            style="font-size: 20px;text-decoration: underline;color: var(--bs-red);padding: -1px;padding-left: 3px;">5.0<i
                                class="fa fa-star" style="margin-left: 11px;"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                    <div class="col" style="width: 700px;"><span
                            style="font-size: 40px;font-weight: bold;color: var(--bs-red);">100.000đ</span></div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Địa chỉ:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="width: 700px;">
                        <h5 style="margin-top: 20px;margin-bottom: 20px;">Số lượng:</h5>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;margin-bottom: 20px;width: 700px;">
                    <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="width: 350px;">
                        <button class="btn btn-primary" type="button"
                            style="width: 320px;margin: 0px;font-size: 20px;background: var(--bs-purple);border-color: rgb(255,199,0);"><i
                                class="fas fa-cart-plus" style="font-size: 20px;"></i>&nbsp; Thêm vào giỏ hàng</button>
                    </div>
                    <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="width: 350px;">
                        <button class="btn btn-warning active" type="button"
                            style="width: 320px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;font-size: 20px;">Mua
                            ngay</button></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-xxl-4">
                <div class="row">
                    <div class="col"><img class="rounded-circle"
                            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
                            style="width: 100px;"></div>
                    <div class="col-xl-8">
                        <div class="row">
                            <div class="col">
                                <h3>Tên shop</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="padding: 0px;"><button class="btn btn-light active" type="button"
                                    style="margin: 0px;">Xem shop</button><button class="btn btn-info active"
                                    type="button" style="margin: 0px;">Chat</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border-radius: 2px;border-width: 1px;border-style: solid;margin-top: 30px;">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Mô tả sản phẩm</h3>
                    </div>
                    <div class="card-body" style="height: auto;">
                        <ul class="list-group">
                            <li class="list-group-item" style="margin-bottom:6px;">
                                <p><br>🎁THÔNG TIN SẢN PHẨM : <br>- Màu sắc : Be-Trang<br>- Kích thước: freesize
                                    70kg<br>- Chất liệu : Nỉ bông<br>🔥Lưu ý : <br>+ Giao hàng tận nơi. Nhận hàng thanh
                                    toán.<br>+ Cam kết: Chất lượng và Mẫu mã Sản phẩm giống với Hình ảnh.<br>+ Trả hàng
                                    hoàn tiền trong 24h nếu sản phẩm bị lỗi.<br>(Nếu Sản phẩm bị lỗi Quý khách vui lòng
                                    inbox liên hệ Shop để được hỗ trợ đổi hàng hoặc Trả hàng/Hoàn tiền cho Khách ạ. Rất
                                    mong Quý Khách đừng vì lỗi nhỏ mà cho Shop 1 - 2 sao tội nghiệp Shop! Và Quý khách
                                    sẽ mất đi quyền lợi đổi hàng nha!)<br>+ Tiết kiệm hơn khi mua nhiều.<br>🌱 Quý Khách
                                    vui lòng đọc kỹ Thông Tin Sản Phẩm trước khi đặt hàng, tránh đặt rồi hủy hàng nhé,
                                    hoặc có hủy thì hủy sớm trước khi đơn hàng đưa vận chuyển nhé. Vì sau khi đặt hàng,
                                    hàng sẽ được Shop gói và gửi đi liền trong ngày hoặc ngày hôm sau. Vì thế việc hủy
                                    hàng sẽ gây nhiều khó khăn cho Shop. Rất mong Quý Khách cảm thông và đắn đo giúp
                                    Shop!!!<br>📌 Theo quy định của Shopee Khách hàng sẽ KHÔNG ĐƯỢC XEM HÀNG trước khi
                                    thanh toán nhưng được đổi trả sau 24h nếu sản phẩm bị lỗi tính từ thời điểm nhận
                                    được hàng. Hãy chắc chắn nhận hàng và để thông tin chính xác khi ấn Mua hàng tránh
                                    trường hợp giao đi rồi lại quay về.<br>📌 Hàng sẽ được Shop giao cho vận chuyển
                                    trong 1 ngày kể từ khi đặt hàng. Vì vậy, nếu có yêu cầu hủy đơn hàng vui lòng inbox
                                    Shop và quyết định trước khi shop giao cho vận chuyển. Vận chuyển của Shopee sẽ liên
                                    hệ quý khách để giao hàng. (Nội thành HCM HN 1-2 ngày, Ngoại thành và các Tỉnh TP
                                    khác 3-5 ngày)<br><br>#áosweater #áo_sweater #aosweater #ao_sweater #samsam4896
                                    #áosweaternỉđôibạn #áo_sweater_nỉ_đôi_bạn #áođôibạn #áo_đôi_bạn
                                    #áonỉđôibạn #áo_nỉ_đôi_bạn #áohoodie #áo_hoodie #aohoodie #ao_hoodie
                                    #áohoodienữ #áo_hoodie_nữ #aohoodienu #ao_hoodie_nu #aohoodienam #ao_hoodie_nam
                                    #hoodienữ #hoodie_nữ #hoodienu #hoodie_nu #áokhoáchoodie #áo_khoác_hoodie
                                    #aokhoachoodie #ao_khoac_hoodie <br><br></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Bình luận</h3>
                    </div>
                    <div class="card-body" style="height:233px;">
                        <ul class="list-group">
                            <li class="list-group-item" style="margin-bottom:6px;">
                                <div class="d-flex media">
                                    <div></div>
                                    <div class="media-body">
                                        <div class="d-flex media" style="overflow:visible;">
                                            <div><img class="me-3" style="width: 25px; height:25px;"
                                                    src="assets/img/user-photo4.jpg"></div>
                                            <div style="overflow:visible;" class="media-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p><a href="#">Sara Doe:</a> This guy has been going 100+ MPH on
                                                            side streets. <br>
                                                            <small class="text-muted">August 6, 2016 @ 10:35am </small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" style="margin-bottom:6px;">
                                <div class="d-flex media">
                                    <div></div>
                                    <div class="media-body">
                                        <div class="d-flex media" style="overflow:visible;">
                                            <div><img class="me-3" style="width: 25px; height:25px;"
                                                    src="assets/img/user-photo4.jpg"></div>
                                            <div style="overflow:visible;" class="media-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p><a href="#">Brennan Prill:</a> This guy has been going 100+
                                                            MPH on side streets. <br>
                                                            <small class="text-muted">August 6, 2016 @ 10:35am </small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; YC 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="/js/Simple-Slider.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>

</html>